button {
    height: 40px;
    margin: .25rem;
    display: flex;
    text-align: center;
    padding: 0 2rem;
}

table {
    margin: 0;
    border-collapse: collapse;
}
table * {
    border: solid 1px #ccc;
}
th, td {
    padding: .5rem
}