<!DOCTYPE html>
<html 	lang="ko"
         xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>find one</title>
    <style>
        table {
            margin: 0;
            border-collapse: collapse;
        }
        table * {
            border: solid 1px #ccc;
        }
        th, td {
            padding: .5rem
        }
    </style>
</head>
<body>
<h1>특정 메뉴 조회</h1>
<div th:insert="menu"></div>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>이름</th>
        <th>가격</th>
        <th>열량</th>
        <th>당류</th>
        <th>지방</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${drink.drinkCode}"></td>
        <td th:text="${drink.drinkName}"></td>
        <td th:text="${drink.drinkPrice}"></td>
        <td th:text="${drink.calorie}"></td>
        <td th:text="${drink.sugar}"></td>
        <td th:text="${drink.fat}"></td>
    </tr>

    </tbody>
</table>


</body>
</html>