<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>insert</title>
</head>
<body>
<h1>메뉴 등록</h1>
<div th:insert="menu"></div>
<form action="/drink/insert" method="post">
    <label for="drinkName">음료 이름</label><input type="text" name="drinkName" id="drinkName"><br>
    <label for="drinkPrice">가격</label><input type="number" name="drinkPrice" id="drinkPrice"><br>
    <label for="sugar">당류</label><input type="number" name="sugar" id="sugar"><br>
    <label for="fat">지방</label><input type="number" name="fat" id="fat"><br>
    <label for="calorie">칼로리</label><input type="number" name="calorie" id="calorie"><br>
    <label for="typeCode">구분</label>
    <select id="typeCode" name="typeCode">
        <option value="1">커피</option>
        <option value="2">논커피</option>
    </select><br>

    <input type="submit" value="등록">
</form>
<script>
    fetch('/drink/type')
        .then(res => res.json())
        .then(data => {
            const $typeCode = document.getElementById('typeCode');
            for(let index in data) {
                const $option = document.createElement('option');
                $option.value = data[index].typeCode;
                $option.textContent = data[index].typeName;

                $typeCode.appendChild($option);
            }
        })
</script>
</body>
</html>