<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>query method test</title>
    <style>
        table {
            margin: 0;
            border-collapse: collapse;
        }
        table * {
            border: solid 1px #ccc;
        }
        th, td {
            padding: .5rem
        }
    </style>
</head>
<body>
<h1>쿼리 메소드 테스트</h1>
<div th:insert="menu"></div>
<form action="/drink/search">
    <input type="number" name="drinkPrice">원을 초과하는 음료 목록
    <input type="submit">
</form>
</body>
</html>