<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>query method result</title>
    <style>
        table {
            margin: 0;
            border-collapse: collapse;
        }
        table * {
            border: solid 1px #ccc;
        }
        th, td {
            padding: .5rem
        }
    </style>
</head>
<body>
<h1>쿼리 메소드 수행 결과</h1>
<div th:insert="menu"></div>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>이름</th>
        <th>가격</th>
        <th>분류</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="drink : ${drinkList}">
        <td th:text="${drink.drinkCode}"></td>
        <td th:text="${drink.drinkName}"></td>
        <td th:text="${drink.drinkPrice}"></td>
        <td th:text="${drink.typeCode}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>