<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/../static/style.css" type="text/css">
</head>
<body>
<h1>title</h1>
<button onclick="location.href='/drink/1'">특정 메뉴 목록 보기</button>
<button onclick="location.href='/drink/findall'">전체 메뉴 목록 보기</button>
<button onclick="location.href='/drink/querymethod'">쿼리 메소드 테스트</button>
<button onclick="location.href='/drink/insert'">메뉴 등록</button>
<button onclick="location.href='/drink/update'">메뉴 수정</button>
<button onclick="location.href='/drink/delete'">메뉴 삭제</button>
</body>
</html>